<% if (page.prev || page.next){ %>
<nav class="article-nav clearfix">
    <% if (page.prev){ %>
    <div class="prev" >
        <a href="<%- config.root %><%- page.prev.path %>" title="<%= page.prev.title %>">
            <strong>上一篇：</strong><br/>
  <span>
      <% if (page.prev.title){ %><%= page.prev.title %><% } else { %>(no title)<% } %></span>
        </a>
    </div>
    <% } %>
    <% if (page.next){ %>
    <div class="next">
        <a href="<%- config.root %><%- page.next.path %>"  title="<%= page.next.title %>">
            <strong>下一篇：</strong><br/>
 <span><% if (page.next.title){ %><%= page.next.title %><% } else { %>(no title)<% } %>
 </span>
        </a>
    </div>
    <% } %>
</nav>
<% } %>

<% if (theme.ujian.enable){ %>
<div class="ujian-hook"></div>
<script type="text/javascript">var ujian_config = {num:6,showType:4,bgColor:'#',mouseoverColor:'#EEEEEE'};</script>
<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=<%= theme.ujian.id %>"></script>
<a href="http://www.ujian.cc" style="border:0;"><img src="http://img.ujian.cc/pixel.png" alt="友荐云推荐" style="border:0;padding:0;margin:0;" /></a>
<% } %>