<% if (site.categories.length){ %>
<div class="categorieslist">
    <div class="col-xs-4 no-padding text-center">
        <p class="asidetitle"><%= __('categories') %></p>
    </div>
    <div class="clearfix"></div>
    <div class="aside-line"></div>
    <ul>
        <% site.categories.sort('name').each(function(item){ %>
        <li><a href="<%- config.root %><%- item.path %>" title="<%= item.name %>"><%= item.name %><sup><%= item.posts.length %></sup></a></li>
        <% }); %>
    </ul>
    <div class="margin-30"></div>
</div>
<% } %>