<div id="footer" class="container">
    <div class="social-font" class="clearfix">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <% if(theme.author.weibo){ %>
                <div class="col-xs-1 col-xs-offset-<%= theme.author.social_offset %>">
                    <a href="http://weibo.com/<%= theme.author.weibo %>" target="_blank" class="icon-weibo" title="新浪微博"></a>
                </div>
                <% } %>
                <% if(theme.author.tencent_weibo){ %>
                <div class="col-xs-1">
                    <a href="http://t.qq.com/<%= theme.author.tencent_weibo %>" target="_blank" class="icon-tencent-weibo" title="腾讯微博"></a>
                </div>
                <% } %>
                <% if(theme.author.github){ %>
                <div class="col-xs-1">
                    <a href="https://github.com/<%=theme.author.github %>" target="_blank" class="icon-github" title="github"></a>
                </div>
                <% } %>
                <% if(theme.author.stackoverflow){ %>
                <div class="col-xs-1">
                    <a href="http://stackoverflow.com/users/<%=theme.author.stackoverflow %>" target="_blank" class="icon-stack-overflow" title="stackoverflow"></a>
                </div>
                <% } %>
                <% if(theme.author.twitter){ %>
                <div class="col-xs-1">
                    <a href="https://twitter.com/<%=theme.author.twitter %>" target="_blank" class="icon-twitter" title="twitter"></a>
                </div>
                <% } %>
                <% if(theme.author.facebook){ %>
                <div class="col-xs-1">
                    <a href="https://www.facebook.com/<%=theme.author.facebook %>" target="_blank" class="icon-facebook" title="facebook"></a>
                </div>
                <% } %>
                <% if(theme.author.linkedin){ %>
                <div class="col-xs-1">
                    <a href="https://www.linkedin.com/in/<%=theme.author.linkedin %>" target="_blank" class="icon-linkedin" title="linkedin"></a>
                </div>
                <% } %>
                <% if(theme.author.douban){ %>
                <div class="col-xs-1">
                    <a href="https://www.douban.com/people/<%=theme.author.douban %>" target="_blank" class="icon-douban" title="豆瓣"></a>
                </div>
                <% } %>
                <% if(theme.author.zhihu){ %>
                <div class="col-xs-1">
                    <a href="https://www.zhihu.com/people/<%=theme.author.zhihu %>" target="_blank" class="icon-zhihu" title="知乎"></a>
                </div>
                <% } %>
                <% if(theme.author.google_plus){ %>
                <div class="col-xs-1">
                    <a href="https://plus.google.com/<%=theme.author.google_plus %>?rel=author" target="_blank" class="icon-google_plus" title="Google+"></a>
                </div>
                <% } %>
                <% if(theme.author.email){ %>
                <div class="col-xs-1">
                    <a href="mailto:<%=theme.author.email %>" target="_blank" class="icon-email" title="Email Me"></a>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <p class="copyright">Powered by <a href="http://zespia.tw/hexo/" target="_blank" title="hexo">hexo</a> and Theme by <a href="https://github.com/gsgundam/gacman" target="_blank" title="Gacman">Gacman</a> based on <a href="https://github.com/wuchong/jacman" target="_blank" title="Jacman">Jacman</a> © 2012-<%= new Date().getFullYear() %>
        <% if (config.author) { %>
        <a href="<%= config.url %>/about" target="_blank" title="<%= config.author %>"><%= config.author %></a>
        <% } else {%>
        <a href="<%= config.url %>" title="<%= config.title %>"><%= config.title %></a>
        <% } %>
    </p>

    <p class="more-site-info">
        <% if (theme.author.beian) { %>
        <a href="http://www.miitbeian.gov.cn/" target="_blank"><%= theme.author.beian %></a>
        <% } %>
    </p>
</div>