<div class="container">
    <div id="textlogo" class="row">
        <div class="col-md-8 title">
            <h1 class="site-name"><a href="<%- config.root %>" title="<%= config.title %>"><%= config.title %></a></h1>
            <h2 class="blog-motto"><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2>
        </div>

        <div class="search-container col-md-4">
            <% if	(theme.google_cse.enable){ %>
            <form class="search" action="<%- config.root %>search/index.html" method="get" accept-charset="utf-8">
                <label>Search</label>
                <input type="search" id="search" autocomplete="off" name="q" maxlength="20" placeholder="" />
            </form>
            <% } else if(theme.baidu_search.enable){ %>
            <form action="http://www.baidu.com/s" method="get" target="_blank" class="search col-md-12">
                <label>Search</label>
                <input type="submit" class="search-btn col-xs-4 pull-right" value="<%= __('search') %>">
                <input class="text-input" id="searchbox" class="text-input col-xs-8 pull-right" type="search" name="q1" results="0" placeholder="">
                <input type="hidden" name="q6" value="<%- config.url.replace(/^https?:\/\//,'') %>">
            </form>
            <% } else if(theme.swiftype.enable){ %>
            <form class="search col-md-12" action="<%- config.root %>search/index.html" method="get" accept-charset="utf-8">
                <label>Search</label>
                <input type="submit" class="search-btn col-md-4 col-xs-2 pull-right" value="<%= __('search') %>">
                <input type="text" id="st-search-input searchbox" class="text-input col-md-8 col-xs-10 pull-right" placeholder="" />
            </form>
            <% } else { %>
            <form class="search" action="//google.com/search" method="get" accept-charset="utf-8">
                <label>Search</label>
                <input type="search" id="search" name="q" autocomplete="off" maxlength="20" placeholder="" />
                <input type="hidden" name="q" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">
            </form>
            <% } %>
        </div>
    </div>

    <div class="navbar"><a class="navbutton navmobile" href="#" title="<%= __('menu') %>">
        </a></div>
    <nav class="animated">
        <ul class="no-margin">
            <% for (var i in theme.menu){ %>
            <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
            <% } %>
        </ul>
    </nav>
</div>